{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <nav>
                <form action="/api/books" method="DELETE">
                    {% csrf_token %}
                    <input type="hidden" value="{{book.id}}">
                    <input type="submit" value="Удалить">
                </form>
            </nav>
        </div>
        <div class="col-8">
            <div class="book">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <img class="book__image" src="{{ book.image.url }}" alt="{{ book.name }}">
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="book-detail__desc">
                            <h2>{{ book.name }}</h2>
                            <div class="genre"><b>Жанр:</b> {{ book.genre }}</div>
                            <div>
                                {% with book.authors.all as authors %}
                                    {% if authors %}
                                    <div class="book-detail__title">Авторы:</div>
                                    <ul class="book-authors">
                                        {% for author in authors %}
                                            <li class="book-authors__item"><a href="{{author.get_absolut_url}}">{{author}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock  %}
